$lightBgColor: #fff9ea;
$grayBgColor: #f1f1f1;

$blackColor: #1d1d1d;
$yellowColor: #ffcb45;
$orangeColor: #ffac4b;
$redColor: #ff5b5b;
$grayColor: rgba(29, 29, 29, 0.7);
$whiteColor: #ffffff;
$redColor: #ff5b5b;
$orangeRed: #ee4d2d;
$greenColor: #06ff4d;
